body {
	padding-top: 2em;
}
h2, h3 {
	font-weight: normal;
	em {
		font-weight: bold;
		font-style: normal;
		font-size: 1.5em;
	}
}

table {
	&.table {
		width: auto;
	}
	&.table-bordered {
		border-width: 2px;
	}
	tr.table-current {
		td {
			color: #fff;
			background: #007bff;
			.text-secondary {
				color: #cee2ff!important;
			}
		}
		&.table-success {
			td {
				background: #28a745;
				.text-secondary {
					color: #d0ffdc!important;
				}
			}
		}
	}
	tr.table-winner {
		td {
			color: #fff;
			background: #28a745;
		}
	}
	td, th {
		min-width: 3.2em;
		text-align: center;
	}
}

#currentScore {
	font-size: 3rem;
}

.text-small {
	font-size: 80%;
}

.current-score-form {
	.form-control {
		&:focus {
			box-shadow: none;
		}
	}
}