<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Dice</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css?v=#VERSION#" />
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-md-12" id="dice">

			<div class="container" v-if="!game.running">
				<div class="row">
					<div class="col-8">
						<form v-on:submit.prevent="startGame">
							<div class="btn-group">
								<button class="btn" type="button"
										v-for="player in availablePlayers"
										v-bind:class="[isSelected(player) ? 'btn-primary' : 'btn-secondary']"
										v-bind:disabled="game.running"
										v-on:click="toggleSelected(player)"
								>{{ player }}</button>
							</div>
							<div class="mt-3">
								<label for="settingsFinalScore">Final score</label>
								<input class="form-control form-control-lg" type="number" v-model.number="settings.finalScore" id="settingsFinalScore" />
							</div>
							<div class="mt-3">
								<button class="btn btn-lg btn-success" type="submit">Start game</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="container" v-if="game.running">
				<div class="row">
					<div class="col-md-5" v-if="!game.end">
						<h2>On turn: <em class="text-primary">{{ currentPlayer.name }}</em></h2>
						<h3 class="mt-3" v-if="currentPlayer.score === winningScore">
							You are winning player.
						</h3>
						<h3 class="mt-3" v-else>
							<strong>{{ getScoreToWin(currentPlayer.score) - game.currentScore }}</strong> points
							<span v-if="winners.length > 0">left to draw winner.</span>
							<span v-else>left to win.</span>
						</h3>
						<form class="mt-4 current-score-form" v-on:submit.prevent="saveRound()">
							<div class="input-group input-group-lg">
								<input type="number"
									   class="form-control"
									   step="50"
									   min="0"
									   id="currentScore"
									   v-model.number="game.currentScore"
									   v-on:keyup.reset="setCurrentScore(0); saveRound();"
									   v-on:keyup.right="modifyCurrentScore(100);"
									   v-on:keyup.left="modifyCurrentScore(-100);"
								/>
								<div class="input-group-append">
									<button class="btn btn-primary" type="submit">Save</button>
									<button class="btn btn-default" type="button" v-on:click="setCurrentScore(0); saveRound();">Zero</button>
								</div>
							</div>
							<label for="currentScore" class="text-secondary mt-3">
								<b>Enter</b>: confirm<br />
								<b>Page Down</b>: set zero and confirm<br />
								<b>Up / Down</b>: +/- 50<br />
								<b>Right / Left</b>: +/- 100
							</label>
						</form>
						<div class="mt-3">
							<button type="button" class="btn btn-secondary" v-on:click="undoRound();">Undo</button>
						</div>
					</div>
					<div class="col-md-7 mt-sm-3">
						<h2 class="mb-3" v-if="game.end">Winner is <em class="text-success">{{ winners[0].name }}</em></h2>
						<table class="table table-bordered">
							<thead class="thead-light">
								<th>Player</th>
								<th v-for="round in game.currentRound">
									{{ round }}
								</th>
								<th>Final</th>
							</thead>
							<tbody>
							<tr v-for="player in game.players"
								v-bind:class="[
									player.score === winningScore ? 'table-success' : '',
									player.score === winningScore && game.end ? 'table-winner' : '',
									player.score > 0 && player.score === maxScore && player.score !== winningScore ? 'text-success' : '',
									player === currentPlayer && !game.end ? 'table-current' : '',
								]"
								:key="player.name"
							>
								<td><strong>{{ player.name }}</strong></td>
								<td v-for="round in game.currentRound">
									{{ player.rounds[round-1] !== undefined ? player.rounds[round-1] : '' }}
								</td>
								<td>
									<strong>{{ player.score }}</strong>
									<span class="text-small text-secondary" v-if="player.score < winningScore">({{ getScoreToWin(player.score) }})</span>
								</td>
							</tr>
							</tbody>
						</table>
						<button class="mt-3 btn btn-secondary" v-on:click="resetGame(); startGame()">New game (same rules, same players)</button><br />
						<button class="mt-3 btn btn-secondary" v-on:click="resetGame()">Reset game</button>
					</div>
				</div>

				<div class="row mt-5">
					<div class="col-md-10">
						<p>Probability</p>
						<table class="table table-bordered">
							<thead class="thead-light">
								<tr>
									<th>1 dice</th><th>2 dices</th><th>3 dices</th><th>4 dices</th><th>5 dices</th><th>6 dices</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>33,3%</td><td>55,6%</td><td>72,2%</td><td>84,3%</td><td>92,3%</td><td>96,9%</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


		</div>
		<div class="col-md-12" id="stats">

		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.js" integrity="sha256-URL6nHS/9miibsdDHZnKiIK/KBO538N+EfQFbgLwjNA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/js/main.js?v=#VERSION#"></script>

</body>
</html>
